<body class="about">
    <img src="/img/clean-profile.jpg" alt="Profile picture">
    <h1>About me</h1>
    <p class="details">
        Date of birth: 14.05.2002
        Address: Kanzleistraße 2, 24943 Flensburg GERMANY
        Phone number: 07 07 07 07 07
        E-mail: kimberly.eder@t-online.de
    </p>
    <p>{{ description }}</p>
    <p>
        As a artist, I am deeply passionate about the art of visual storytelling. 
        With each project, I strive to push creative boundaries and capture the essence of my subjects 
        in a unique and compelling way. Collaboration with fellow filmmakers is a source of inspiration and growth, 
        as we collectively bring our visions to life. Whether I'm crafting a narrative, composing shots, 
        or editing in the studio, my goal is to create emotionally resonant films that engage and provoke thought. 
        My journey as a filmmaker is a continuous exploration of the world's diverse stories, 
        and I am excited to evolve and refine my skills as I pursue this lifelong passion.
    </p>
    <nav>
        <ul>
            <li><a href="mycv-edu">Education</a></li>
            <li><a href="mycv-work">Professional Experience</a></li>
            <li><a href="mycv-skills">Computer Skills</a></li>
            <li><a href="mycv-lang">Languages</a></li>
            <li><a href="mycv-others">Hobbies</a></li>
        </ul>
    </nav>
</body>