<body class="home">
    {{#if isLoggedIn}}
        <div>
            Hi, {{name}}! &nbsp; &nbsp;
        </div>
    {{/if}}
    <img class="img-responsive" src="/img/background.jpg" alt="Example"
        width="130" height="100">
    <p class="titles">Filmmaker<br />Editor<br />Artist</p>  
</body>