<body>
    <nav>
        <ul>
            <li><a href="mycv-edu">Education</a></li>
            <li><a href="mycv-work">Professional Experience</a></li>
            <li><a href="mycv-skills">Computer Skills</a></li>
            <li><a href="mycv-lang">Languages</a></li>
            <li><a href="mycv-others">Hobbies</a></li>
        </ul>
    </nav>
    <h2>Languages</h2>
    <ul>
        <li>German: C2 mother tongue</li>
        <li>English: C1</li>
        <li>French: B1</li>
    </ul>
</body>