<body>
    <nav>
        <ul>
            <li><a href="mycv-edu">Education</a></li>
            <li><a href="mycv-work">Professional Experience</a></li>
            <li><a href="mycv-skills">Computer Skills</a></li>
            <li><a href="mycv-lang">Languages</a></li>
            <li><a href="mycv-others">Hobbies</a></li>
        </ul>
    </nav>
    <h2>Professional experience</h2>
    <ul>
        <li>12/2022 till now: Student assistant at AIEduLab</li>
        <p>Artificial Intelligence enhanced Education Laboratory Research on
            AI-related hardware and software solutions and tech. support for
            lectures</p>
        <li>11/2021 - 06/2023: Student assistant at Usability Laboratory</li>
        <p>Advice and Supervision of Eye Tracking Studies</p>
    </ul>
</body>