<body>
    <nav>
        <ul>
            <li><a href="mycv-edu">Education</a></li>
            <li><a href="mycv-work">Professional Experience</a></li>
            <li><a href="mycv-skills">Computer Skills</a></li>
            <li><a href="mycv-lang">Languages</a></li>
            <li><a href="mycv-others">Hobbies</a></li>
        </ul>
    </nav>
    <h2>Computer Skills</h2>
    <ul>
        <li>Java, Javascript, C# and Python </li>
        <li>Adobe Cloud</li>
        <li>Usability testing</li>
        <li>Eyetracking studies</li>
        <li>Project Managment</li>
        <li>Digital Drawing and Storyboarding</li>
        <li>Working with Algorithms and Data Structures</li>
        <li>Audio Production</li>
        <li>3D Modeling and Rendering</li>
        <li>Film Editing</li>
        <li>Generative Design</li>
        <li>Image and Video Manipulation</li>
        <li>Fundamentals of Robotics</li>
        <li>Microsoft Office</li>
    </ul>

</body>