<body>
    <nav>
        <ul>
            <li><a href="mycv-edu">Education</a></li>
            <li><a href="mycv-work">Professional Experience</a></li>
            <li><a href="mycv-skills">Computer Skills</a></li>
            <li><a href="mycv-lang">Languages</a></li>
            <li><a href="mycv-others">Hobbies</a></li>
        </ul>
    </nav>
    <h2>Hobbies</h2>
    <ul>
        <li>Writing scripts for short films</li>
        <li>AI programming and robotics</li>
        <li>Baking</li>
    </ul>

</body>