<body>
    <nav>
        <ul>
            <li><a href="mycv-edu">Education</a></li>
            <li><a href="mycv-work">Professional Experience</a></li>
            <li><a href="mycv-skills">Computer Skills</a></li>
            <li><a href="mycv-lang">Languages</a></li>
            <li><a href="mycv-others">Hobbies</a></li>
        </ul>
    </nav>
    <h2>Education</h2>
    <ul>
        <li>08 - 12/2023: Semester abroad at JU in Sweden</li>
        <li>2021 - 2024: Bachelor of Media Informatics
            focus on film at University of Applied Sciences Flensburg</li>
        <li>2020 - 2021: Bachelor two semester Sociology at University Leipzig</li>
        <li>2020: General university entrance qualifications in Apolda, average grade: 1,9 </li>
    </ul>
</body>